.container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lucida Sans";
}

#card {
  width: 100%;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
  text-align: center;
  width: 500px;
  padding: 20px;
  margin-top: 150px;
}

#btn {
  background-color: black;
  color: white;
  padding: 15px;
  margin: 15px;
  border: none;
  border-radius: 5%;
  font-size: 18px;
}

.pokeName {
  font-weight: 600;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
}
