/* selector universal   */

* {
    border: 3px solid blue;
}

/* selector descendiente  */
ol li {
    background-color: green;
}

/* selector adyacente  */
ol+p {
    background-color: red;
}

/* selector de atributo */
a[href="https://www.google.com.ar/"] {
    background-color: yellow;
}

/* seleccion de varias etiquetas  */
h1, h2 {
    background-color: pink;
}


